*{
  margin: 0;
}
body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}


@mixin buttons {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  width: 150px;
  cursor: pointer;

  @keyframes slider{
    0%{
      opacity: 0
    }
  }

}
.hero{
  width: 100%;
  height: auto;
  margin: auto;
  position: relative;
  .navbar{
    width: 90%;
    height: 100px;
    position: absolute;
    padding: 2% 0 0 2%;
    display: flex;
    flex-direction: column;
    .logo{
      width: 30%;
      img{
        width: 100%;
      }
    }
    .menu{
      width: 90%;
      a{
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        display: inline-block;
      }
      ul{
        list-style-type: none;
        padding: 0 0 0 2%;
      }
    }
  }
  .slide{
    display: none;
    img{
      width: 100%;
    }
    .cta-buttons{
      position: absolute;
      top: 70%;
      left: 20%;
      display: flex;
      flex-direction: row;
    }
    .cta-one{
      @include buttons;
      background-color: #fff;
      margin-right: 5px;
      color: #502a80;
      width: 80px;
      font-size: 10px;
      padding: 0;
    }
    .cta-two{
      @include buttons;
      width: 80px;
      font-size: 10px;
      padding: 0;
    }
  }
  .dots{
    text-align: center;
    margin-top: -30px;
    .dot{
      cursor: pointer;
      height: 10px;
      width: 10px;
      margin: 0 2px;
      background-color: #fff;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.2s ease-in-out;
    }
    .active{
      background-color: #333;
    }
  }
}
.products{
  width: 90%;
  height: auto;
  .searchbox{
    width: 95%;
    height: 50px;
    padding: 50px 0 0 0;
    position: relative;
    display: flex;
    justify-content: flex-start;
    input{
      width: 100%;
      height: 40px;
      background-color: transparent;
      border: 1px solid #333;
      border-radius: 5px;
      // padding-left: 15px;
      position: absolute;
    }
    .product-search{
      background-color: transparent;
      border: none;
      margin: 0;
      width: 10px;
      height: 40px;
      position: absolute;
      top: 50%;
      right: 10%;
      display: flex;
      align-items: center;
    }
  }
  .products-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    .product-box{
      width: 90%;
      padding: 5% 5% 0 0;
      margin-bottom: 15px;
      border: 1px solid #333;
      border-radius: 5px;
      p{
        font-weight: bold;
        color: #333;
        padding: 0 10px 10px 10px;
      }
      .product-img{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 200px;
      }
    }
  }
}
.banners{
  width: 90%;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px 0 50px 0;
  .banner-left{
    width: 100%;
    height: 400px;
    background-image: url(../images/bannerone.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .banner-text{
      color: #fff;
      position: relative;
      top: 30%;
      left: 10%;
      text-transform: uppercase;
      width: 60%;
      h3{
        font-size: 26px;
      }
      a{
        color: #fff;
        font-weight: bold;
        margin-top: 100px;
      }
    }
  }
  .banner-right{
    width: 100%;
    height: 400px;
    background-image: url(../images/bannertwo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .banner-text{
      color: #fff;
      position: relative;
      top: 30%;
      left: 10%;
      text-transform: uppercase;
      width: 80%;
      h3{
        font-size: 26px;
      }
      a{
        color: #fff;
        font-weight: bold;
        margin-top: 100px;
      }
    }
  }
}

@media (min-width: 480px){ /*xsmall*/
  .hero{
    width: 100%;
    .slide{
      display: none;
      img{
        width: 100%;
      }
      .cta-buttons{
        position: absolute;
        top: 70%;
        left: 20%;
        display: flex;
        flex-direction: row;
      }
      .cta-one{
        @include buttons;
        background-color: #fff;
        margin-right: 5px;
        color: #502a80;
        width: 100px;
        font-size: 12px;
        padding: 10px;
      }
      .cta-two{
        @include buttons;
        width: 100px;
        font-size: 12px;
        padding: 10px;
      }
    }
    .dots{
      margin-top: -50px;
      .dot{
        height: 15px;
        width: 15px;
      }
    }
  }
  .products{
    width: 80%;
    .products-wrapper{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      .product-box{
        width: 41%;
        padding: 5% 5% 0 0;
        margin-right: 15px;
        border: 1px solid #333;
        border-radius: 5px;
        p{
          font-weight: bold;
          color: #333;
          padding: 0 10px 10px 10px;
        }
        .product-img{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height: 200px;
        }
      }
    }
  }
  .banners{
    width: 80%;
    height: auto;
    padding: 50px 0 50px 0;
    .banner-left{
      width: 50%;
    }
    .banner-right{
      width: 50%;
    }
  }

}
@media (min-width: 840px){ /*small*/
  .hero{
    .navbar{
      width: 95%;
      height: auto;
      flex-direction: row;
      align-items: center;
      .menu{
        text-align: right;
        a{
          display: inline-block;
          padding: 5px;
        }
      }
    }
    .slide{
      .cta-one{
        margin-right: 20px;
        width: 150px;
        font-size: 16px;
        padding: 15px;
      }
      .cta-two{
        width: 150px;
        font-size: 16px;
        padding: 15px;
      }
    }
  }
  .products{
    width: 80%;
    .searchbox{
      width: 95%;
    }
    .products-wrapper{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      .product-box{
        width: 25%;
        padding: 5% 5% 0 0;
        margin-right: 15px;
        border: 1px solid #333;
        border-radius: 5px;
        p{
          font-weight: bold;
          color: #333;
          padding: 0 10px 10px 10px;
        }
        .product-img{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height: 200px;
        }
      }
    }
  }
  .banners{
    width: 80%;
    padding: 50px 0 50px 0;
    .banner-left{
      width: 50%;
      .banner-text{
        top: 40%;
      }
    }
    .banner-right{
      width: 50%;
      .banner-text{
        top: 40%;
      }
    }
  }
}
@media (min-width: 1024px){ /*Medium*/
  .hero{
    .dots{
      margin-top: -50px;
      .dot{
        height: 15px;
        width: 15px;
      }
    }
  }
  .products{
    width: 80%;
    .searchbox{
      width: 93%;
    }
    .product-box{
      width: 25%;
    }
  }
  .banners{
    width: 80%;
    padding: 50px 0 50px 0;
    .banner-left{
      width: 50%;
      height: 600px;
      .banner-text{
        top: 60%;
      }
    }
    .banner-right{
      width: 50%;
      height: 600px;
      .banner-text{
        top: 60%;
      }
    }
  }
}
@media (min-width: 1280px){ /*large*/

}
